<!doctype html>

<html lang="en">

  <head>
	{% include google_analytics.html %}

    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css">
	<link rel="shortcut icon" type="image/png" href="{{site.url}}/assets/img/favicon.png">
    
    <title>{% if page.title %}{{ page.title }} | {{site.title}}{% else %}{{ site.title }}{% endif %}</title>
  </head>

  <body>

	{% include header.html %}
	{% include mathjax.html %}

	<main>
	  {{content}}
	</main>

  </body>

</html>
